@import "tailwindcss";

:root {
  --bg: #f4f4f4;
  --accent-color: #ff4141;
  --bg-secondary: #dcd9d9;
  --text-disabled: #99a1af;
}

@theme inline {
  --color-bg: var(--bg);
  --color-bg-secondary: var(--bg-secondary);
  --color-accent-color: var(--accent-color);
  --color-text-disabled: var(--text-disabled);
}

@custom-variant dark (&:where(.dark, .dark *));
